html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flux {
  color: #0d6efd; /*#426DFB*/
  font-size: 2vw;
  line-height: 2vw;
  text-shadow: 0 0 0.25vw #212529; /*#2356FF*/
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 1vw #1041FF, 0 0 1vw #1041FF, 0 0 1vw #1041FF, 0 0 .4vw #8BFDFE, .15vw .25vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .25vw #082180, 0 0 0.35vw #082180, 0 0 0.5vw #082180, 0 0 0.35vw #082180, 0 0 .2vw #082180, .15vw .15vw .1vw #0A3940;
    color: #146C80;
  }
}